<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tensaku JP</title>
    <link href="{{asset "font/Nunito/font.css"}}" rel="stylesheet" rel="preload" as="style">
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" rel="preload" as="style">
    <link rel="stylesheet" href="{{asset "css/reset.css"}}" />
    <link rel="stylesheet" href="{{asset "css/campaign/campaign.css"}}" />
    <link rel="stylesheet" href="{{asset "css/campaign/pc-campaign.css"}}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- site info -->
    <meta name="description" content="Improve your Japanese writing via feedback. Tensaku JP helps Japanese learners gain confidence in their Japanese writing.">
    <meta name="keywords" content="writing,feedback,college,buisiness,study,Japanese">

    <!-- for facebook -->
    <meta property="og:site_name" content="Tensaku JP">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Tensaku JP - Improve your Japanese writing">
    <meta property="og:description" content="Improve your Japanese writing via feedback. Tensaku JP helps Japanese learners gain confidence in their Japanese writing.">
    <meta property="og:url" content="https://tensaku-jp.com">
    <meta property="og:image" content="{{asset "img/tensakujp-thumbnail_tiny.png"}}">
    
    <!-- for twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tensaku JP - Improve your Japanese writing">
    <meta name="twitter:description" content="Improve your Japanese writing via feedback. Tensaku JP helps Japanese learners gain confidence in their Japanese writing.">
    <meta name="twitter:url" content="https://tensaku-jp.com">
    <meta name="twitter:image" content="{{asset "img/tensakujp-thumbnail_tiny.png"}}">
    <meta name="twitter:site" content="Tensaku JP">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- for twitter -->
    <meta name="twitter:image" content="https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png">
    <title>Tensaku JP</title>
</head>
<body>
    <div campaign-menu-overlay class="campaign-menu-overlay"></div>
    <header class="campaign-header">
        <div class="campaign-header-brand">Tensaku JP</div>
        <a campaign-menu-open class="campaign-header-nav-menu-open">
            <img src="{{asset "img/menu_FF7F50_24dp.svg"}}" class="campaign-header-nav-menu-icon" alt="" />
        </a>
        <nav campaign-header-nav class="campaign-header-nav">
            <a campaign-menu-close class="campaign-header-nav-menu-close">
                <img src="{{asset "img/close_black_24dp.svg"}}" class="campaign-header-nav-close-icon" alt="" />
            </a>
            <ul class="campaign-header-nav-link-list">
                <li class="campaign-header-nav-link-list-item">
                    <a href="#service" campaign-menu-close class="campaign-header-nav-link">
                        <img class="campaign-header-nav-link-icon" src="{{asset "img/article_47A3FF_24dp.svg"}}" />Service
                    </a>
                </li>
                <li class="campaign-header-nav-link-list-item">
                    <a href="#plans" campaign-menu-close class="campaign-header-nav-link">
                        <img class="campaign-header-nav-link-icon" src="{{asset "img/price_check_47A3FF_24dp.svg"}}" />Plans
                    </a>
                </li>
                <li class="campaign-header-nav-link-list-item">
                    <a href="#about" campaign-menu-close class="campaign-header-nav-link">
                        <img class="campaign-header-nav-link-icon" src="{{asset "img/business_47A3FF_24dp.svg"}}" />About us
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <div class="campaign-hero">
                <h1 class="campaign-hero-title">Improve your Japanese Writing</h1>
                <div class="campaign-feedback-sample">
                    <div class="campaign-feedback-sample-card">
                        <div class="campaign-feedback-sample-card-sentence">
                            今日は天気が良くて公園に行った。<img src="{{asset "img/close_EF5A55_24dp.svg"}}" class="campaign-feedback-sample-card-sentence-wrong-icon" alt="" />
                        </div>
                        <div class="campaign-feedback-sample-card-sentence">
                            今日は天気が<span class="campaign-feedback-sample-card-sentence-correct-highlight">良かったので</span>公園に行った。<img src="{{asset "img/done_55EFC4_24dp.svg"}}" class="campaign-feedback-sample-card-sentence-correct-icon" alt="" />
                        </div>
                    </div>
                </div>
                <div class="campaign-hero-action-button-container">
                    <a class="campaign-hero-action-button campaign-action-button" href="//forms.gle/g7SCxgQZMJTGLjim8">Submit your writing now</a>
                </div>
            </div>
            <section id="service" class="campaign-service campaign-section">
                <h2 class="campaign-service-title">We provide feedback on your Japanese Writing</h2>
                <ul class="campaign-service-cards">
                    <li class="campaign-service-card-container">
                        <div class="campaign-service-card">
                            <h3 class="campaign-service-card-title">Gain confidence in Japanese writing</h3>
                            <div class="campaign-service-card-visual-wrapper">
                                <img class="campaign-service-card-visual" src={{asset "img/card-visual-studying.svg"}} alt="">
                            </div>
                            <p class="campaign-service-card-description">
                                Sometimes it is hard to make a sentence only with the knowledge from textbook and anime. We help you gain confidence in writing Japanese with our feedback!
                            </p>
                        </div>
                    </li>
                    <li class="campaign-service-card-container">
                        <div class="campaign-service-card">
                            <h3 class="campaign-service-card-title">Very helpful feedback</h3>
                            <div class="campaign-service-card-visual-wrapper">
                                <img class="campaign-service-card-visual" src={{asset "img/card-visual-reviews.svg"}} alt="">
                            </div>
                            <div class="campaign-service-card-description">
                                Our feedback aims to help with:
                            </div>
                            <ul class="campaign-service-card-list">
                                <li class="campaign-service-card-list-item">forming sentences</li>
                                <li class="campaign-service-card-list-item">using natural expressions</li>
                                <li class="campaign-service-card-list-item">and most importantly writing with confidence</li>
                            </ul>
                        </div>
                    </li>
                    <li class="campaign-service-card-container">
                        <div class="campaign-service-card">
                            <h3 class="campaign-service-card-title">Google Docs</h3>
                            <div class="campaign-service-card-visual-wrapper">
                                <img class="campaign-service-card-visual-googledocs campaign-service-card-visual" src={{asset "img/card-visual-googledocs.svg"}} alt="">
                            </div>
                            <div class="campaign-service-card-description">
                                We provide our feedback via Google Docs.<br>
                                You will be able to:
                            </div>
                            <ul class="campaign-service-card-list">
                                <li class="campaign-service-card-list-item">receive feedback with text highlights</li>
                                <li class="campaign-service-card-list-item">keep track of your writing practices in one place</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="campaign-service-action-button-container">
                    <a class="campaign-service-action-button campaign-action-button" href="//forms.gle/g7SCxgQZMJTGLjim8">Get your feedback now</a>
                </div>
            </section>
            <section id="plans" class="campaign-plans campaign-section">
                <h2 class="campaign-plans-title">Plans</h2>
                <ul class="campaign-plans-cards">
                    <li class="campaign-plans-card-a campaign-plans-card">
                        <div class="campaign-plans-card-plan-head">1 sentence</div>
                        <div class="campaign-plans-card-plan-body">
                            <div class="campaign-plans-card-plan-price">$1</div>
                            <div class="campaign-plans-card-plan-catchphrase">Try a sentence with us!</div>
                            <ul class="campaign-plans-card-plan-features">
                                <li class="campaign-plans-card-plan-feature">Grammar feedback</li>
                                <li class="campaign-plans-card-plan-feature">Expression feedback</li>
                                <li class="campaign-plans-card-plan-feature">Boost confidence</li>
                            </ul>
                            <a class="campaign-plans-card-action-button campaign-action-button" href="//forms.gle/g7SCxgQZMJTGLjim8">Try now</a>
                        </div>
                    </li>
                    <li class="campaign-plans-card-b campaign-plans-card">
                        <div class="campaign-plans-card-plan-head">1 page</div>
                        <div class="campaign-plans-card-plan-body">
                            <div class="campaign-plans-card-plan-price">$10</div>
                            <div class="campaign-plans-card-plan-catchphrase">Take advantage of the follow-up QAs!</div>
                            <ul class="campaign-plans-card-plan-features">
                                <li class="campaign-plans-card-plan-feature">5 follow-up QAs</li>
                                <li class="campaign-plans-card-plan-feature">Grammar feedback</li>
                                <li class="campaign-plans-card-plan-feature">Expression feedback</li>
                                <li class="campaign-plans-card-plan-feature">Boost confidence</li>
                            </ul>
                            <a class="campaign-plans-card-action-button campaign-action-button" href="//forms.gle/g7SCxgQZMJTGLjim8">Try now</a>
                        </div>
                    </li>
                    <li class="campaign-plans-card-c campaign-plans-card">
                        <div class="campaign-plans-card-plan-head">Up to 3 pages</div>
                        <div class="campaign-plans-card-plan-body">
                            <div class="campaign-plans-card-plan-price">$20</div>
                            <div class="campaign-plans-card-plan-catchphrase">
                                We make sure that you'll learn a lot!
                            </div>
                            <ul class="campaign-plans-card-plan-features">
                                <li class="campaign-plans-card-plan-feature">10 follow-up QAs</li>
                                <li class="campaign-plans-card-plan-feature">Grammar feedback</li>
                                <li class="campaign-plans-card-plan-feature">Expression feedback</li>
                                <li class="campaign-plans-card-plan-feature">Boost confidence</li>
                            </ul>
                            <a class="campaign-plans-card-action-button campaign-action-button" href="//forms.gle/g7SCxgQZMJTGLjim8">Try now</a>
                        </div>
                    </li>
                </ul>
            </section>
            <section id="about" class="campaign-about campaign-section">
                <div class="campaign-about-card">
                    <div class="campaign-about-card-text">
                        We are Japanese teachers with passion in teaching writing.<br>
                        Our goal is to help Japanese learners gain<wbr> confidence with our writing feedback.
                    </div>
                    <div class="campaign-about-card-action-button-container">
                        <a class="campaign-about-card-action-button campaign-action-button" href="//forms.gle/g7SCxgQZMJTGLjim8">Get your feedback now</a>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <script src="{{asset "js/campaign/sp-menu.js"}}"></script>
</body>
</html>