<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tensaku JP</title>
    <link rel="stylesheet" href="{{asset "css/reset.css"}}" />
    <link rel="stylesheet" href="{{asset "css/campaign/campaign.css"}}" />
    <title>Tensaku JP</title>
</head>
<body>
    <header class="campaign-header">
        <div class="campaign-header-brand">Tensaku JP</div>
        <img src="{{asset "img/menu_FF7F50_24dp.svg"}}" class="campaign-header-nav-menu-icon" alt="" />
        <nav class="campaign-header-nav">
            <img src="{{asset "img/close_black_24dp.svg"}}" class="campaign-header-nav-close-icon" alt="" />
            <ul class="campaign-header-nav-link-list">
                <li class="campaign-header-nav-link-list-item">
                    <a href="#service" class="campaign-header-nav-link">
                        Service
                    </a>
                </li>
                <li class="campaign-header-nav-link-list-item">
                    <a href="#plans" class="campaign-header-nav-link">
                        Plans
                    </a>
                </li>
                <li class="campaign-header-nav-link-list-item">
                    <a href="#about" class="campaign-header-nav-link">
                        About us
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h1 class="campaign-hero-title">Improve your Japanese Writing</h1>
            <div class="campaign-feedback-sample">
                <div class="campaign-feedback-sample-card">
                    <div class="campaign-feedback-sample-card-sentence">
                        今日は私がしばらく過ごした中で最高の日でした。<img src="{{asset "img/close_EF5A55_24dp.svg"}}" class="campaign-feedback-sample-card-sentence-wrong-icon" alt="" />
                    </div>
                    <div class="campaign-feedback-sample-card-sentence">
                        今日は<span>しばらくぶりに最高な</span>日でした。<img src="{{asset "img/done_55EFC4_24dp.svg"}}" class="campaign-feedback-sample-card-sentence-correct-icon" alt="" />
                    </div>
                </div>
            </div>
            <div class="campaign-hero-action-button-container">
                <a class="campaign-hero-action-button">Submit your writing now</a>
            </div>
            <section id="service" class="campaign-service campaign-section">
                <h2 class="campaign-service-title">We provide feedback on your Japanese Writing</h2>
                <ul class="campaign-service-cards">
                    <li class="campaign-service-card">
                        <h3>Gain confidence in Japanese writing</h3>
                        <p>
                            Sometimes it is hard to make a sentence only with the knowledge from textbook and anime. We help you gain confidence in writing Japanese with our feedback!
                        </p>
                    </li>
                    <li class="campaign-service-card">
                        <h3>Very helpful feedback</h3>
                        <div>
                            Our feedback aims to help you get used to:
                        </div>
                        <ul>
                            <li>forming sentences</li>
                            <li>using natural expressions</li>
                            <li>and most importantly writing with confidence</li>
                        </ul>
                    </li>
                    <li class="campaign-service-card">
                        <h3>Google Docs</h3>
                        <div>
                            We provide our feedback via Google Docs.<br>
                            You will be able to:
                        </div>
                        <li>receive comprehensive feedback with text highlights</li>
                        <li>keep track of your writing practices in one place</li>
                    </li>
                </ul>
                <a>Get your feedback now</a>
            </section>
            <section id="plans" class="campaign-plans campaign-section">
                <h2>Plans</h2>
                <ul>
                    <li>
                        <div>1 sentence</div>
                        <div>$1</div>
                        <div>Try a sentence with us!</div>
                        <ul>
                            <li>Grammar feedback</li>
                            <li>Expression feedback</li>
                            <li>Boost confidence</li>
                        </ul>
                        <a>Try now</a>
                    </li>
                    <li>
                        <div>1 page</div>
                        <div>$10</div>
                        <div>Take advantage of the follow-up QAs!</div>
                        <ul>
                            <li>5 follow-up QAs</li>
                            <li>Grammar feedback</li>
                            <li>Expression feedback</li>
                            <li>Boost confidence</li>
                        </ul>
                        <a>Try now</a>
                    </li>
                    <li>
                        <div>Up to 3 pages</div>
                        <div>$20</div>
                        <div>
                            We make sure that your efforts into<br>
                            the writing will be rewarded!
                        </div>
                        <ul>
                            <li>10 follow-up QAs</li>
                            <li>Grammar feedback</li>
                            <li>Expression feedback</li>
                            <li>Boost confidence</li>
                        </ul>
                        <a>Try now</a>
                    </li>
                </ul>
            </section>
            <section id="about" class="campaign-about campaign-section">
                <div>
                    <div>
                        We are Japanese teachers with passion in teaching writing.<br>
                        Our goal is to help Japanese learners gain<br>
                        confidence with our writing feedback.
                    </div>
                    <a>Get your feedback now</a>
                </div>
            </section>
        </article>
    </main>
</body>
</html>