<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    {{!-- site common css  --}}
    <link rel="stylesheet" href="{{asset "css/reset.css"}}" />
    <link rel="stylesheet" href="{{asset "css/common.css"}}" />

    {{!-- site fonts --}}
    <link href="{{asset "font/Nunito/font.css"}}" rel="stylesheet" rel="preload" as="style">
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" rel="preload" as="style">

    {{#if post}}
    {{!-- post page css --}}
    <link rel="stylesheet" href="{{asset "css/post/post-default.css"}}" />
    <link rel="stylesheet" href="{{asset "css/post/post-common.css"}}" />
    {{/if}}

    {{!-- ghost configured head --}}
    {{ghost_head}}
</head>
</head>
<body class="common-root">
    {{!-- header partials  --}}
    {{> header}}

    {{!-- page content --}}
    {{{body}}}


    {{> footer}}
    {{!-- ghost configured foot --}}
    {{{ghost_foot}}}
</body>
<script src="{{asset "js/header-menu.js"}}" ></script>
</html>