{{!< default }}
<main class="post-common-paper">
    {{#post}}
    <article>
        <h1 class="post-common-title">{{title}}</h1>
        <section class="post-common-content">
            {{content}}
        </section>
    </article>
    <aside class="post-common-readnext">
        <div class="post-common-readnext-inner">
            <div class="post-common-readnext-feed">
                {{#if primary_tag}}
                {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
                {{#if related_posts}}
                <div class="post-common-readnext-card">
                    <div class="post-common-readnext-card-header">
                        {{#../primary_tag}}
                        <div class="post-common-readnext-title">
                            <span>More in</span> <a class="post-common-readnext-link post-common-readnext-link-large" href="{{url}}">{{name}}</a>
                        </div>
                        {{/../primary_tag}}
                    </div>
                    <div class="post-common-readnext-card-content">
                        <ul>
                            {{#foreach related_posts}}
                            <li>
                                <a class="post-common-readnext-link" href="{{url}}">{{title}}</a>
                                <div class="post-common-readnext-card-meta">{{reading_time}}</div>
                            </li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <div class="post-common-readnext-card-footer">
                        <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No
                            posts' singular='% post' plural='See all % posts'}}
                            →</a>
                    </div>
                </div>
                {{/if}}
                {{/get}}
                {{/if}}

                {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs
                --}}
                {{#next_post}}
                <div class="post-common-readnext-card">
                    <div class="post-common-readnext-card-header">
                        <div class="post-common-readnext-title">Next post</div>
                    </div>
                    <a href="{{url}}" class="post-common-readnext-link">{{title}}</a>
                    <div class="post-common-readnext-card-meta">{{reading_time}}</div>
                </div>
                {{/next_post}}

                {{!-- If there's a previous post, display it using the same markup included from -
                partials/post-card.hbs --}}
                {{#prev_post}}
                <div class="post-common-readnext-card">
                    <div class="post-common-readnext-card-header">
                        <div class="post-common-readnext-title">Previous post</div>
                    </div>
                    <a href="{{url}}" class="post-common-readnext-link">{{title}}</a>
                    <div class="post-common-readnext-card-meta">{{reading_time}}</div>
                </div>
                {{/prev_post}}
            </div>
        </div>
    </aside>
    {{!-- Links to Previous/Next posts --}}
    {{/post}}
</main>