<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    {{!-- site common css  --}}
    <link rel="stylesheet" href="{{asset "css/reset.css"}}" />
    <link rel="stylesheet" href="{{asset "css/common.css"}}" />

    {{#if post}}
    {{!-- post page css --}}
    <link rel="stylesheet" href="{{asset "css/post/post-common.css"}}" />
    {{/if}}

    {{!-- ghost configured head --}}
    {{ghost_head}}
</head>
</head>
<body class="common-root">
    {{!-- header partials  --}}
    {{> header}}

    {{!-- page content --}}
    {{{body}}}


    {{!-- ghost configured foot --}}
    {{{ghost_foot}}}
</body>
</html>